

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

body,
html,
.app {
  height: 100vh;
  width: 100vw;
  background-image: url('../image-bank/chess_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

h1 {
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.114);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
}

nav {
  background-color: rgba(255, 255, 255, 0.114);
}

.all-reviews-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  list-style: none;
  margin: auto;
}

.single-review-list-item {
  box-shadow: 10px 10px 10px;
  border-radius: 2px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.348);
}

.single-review-list-item > * {
  padding: 5px;
}

.single-review-list-item > img {
  min-width: 100px;
  max-width: 70%;
}

.single-review {
  width: 90%;
  box-shadow: 10px 10px 10px;
  border-radius: 2px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.348);
}

.single-review > * {
  padding: 10px;
}

.single-review-body {
  width: 90%;
  padding: 20px;

  border: black solid;
  background-color: rgba(255, 255, 255, 0.348);
  border-radius: 5px;
}

.single-review > img {
  min-width: 100px;
  max-width: 70%;
}

button {
  padding: 2px;
  margin: 5px;
  border-radius: 12px;
}

.votes-container {
  margin: 20px;
}

.comments-container {
  width: 90%;
  padding: 20px;
  padding-bottom: 30px;
  border: black solid;
  background-color: rgba(255, 255, 255, 0.348);
  border-radius: 5px;
}

.comments-list {
  list-style: none;
}

.comments-list > li {
  width: 90%;
  box-shadow: 10px 10px 10px;
  border-radius: 2px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.348);
}

.comments-list > li > * {
  padding: 2px;
}


/* @media only screen and (min-width: 700px) {
  
} */
